{{#*inline "page"}}
    
<div>
  <h1 class="display-1" style="text-align:center">Reflect</h1>
  <p class="lead" style="text-align:center"> Use this platform to keep a track of just about anything!</p>
</div>

{{/inline}}
{{~> (parent)~}}