{{#*inline "page"}}
    
<div>
  <h1 class="display-1" style="text-align:center">Reflect</h1>
  <p class="lead" style="text-align:center"> Use this platform to keep a track of just about anything!</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-12 jumbotron">
        <div class="title">
          <h3>
            View Entries 👀
          </h3>
        </div>
        <ul class="list-group">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-12 jumbotron">
        <div id="wrapper">
          <button type="button" class="btn btn-light btn-lg">
            New Entry➕
          </button>
        </div>
      </div>
    </div>
  </div>
</div>



{{/inline}}
{{~> (parent)~}}